<HandyPaint>
<NewWidth>640</NewWidth>
<NewHeight>480</NewHeight>
<NewColor>0</NewColor>
<ForeColor>255,255,255,255</ForeColor>
<BackColor>10092543</BackColor>
<PenSize>7</PenSize>
<RubberSize>12</RubberSize>
<PenStyle>1</PenStyle>
<FillStyle>0</FillStyle>
<FontStyle>0</FontStyle>
<PictureStyle>1</PictureStyle>
<MyPaintsDir>\My Documents\HandyPaint</MyPaintsDir>
<OpenDir>\Programmi\ThrottleLauncher\Setups\WindowsPhone7_1.7 moddato\Images\Numbers</OpenDir>
<SaveDir>\Storage Card</SaveDir>
<TBTranslucent>1</TBTranslucent>
<TBAutoHide>1</TBAutoHide>
<TBX1>5</TBX1>
<TBY1>5</TBY1>
<TBWidth1>230</TBWidth1>
<TBHeight1>60</TBHeight1>
<TBX2>5</TBX2>
<TBY2>5</TBY2>
<TBWidth2>60</TBWidth2>
<TBHeight2>230</TBHeight2>
<RecentColorNum>3</RecentColorNum>
<RecentColors>16777215,0,10053222,0,0,0,0,0,</RecentColors>
<Key></Key>
</HandyPaint>
